/* CSS Document */

body {
	font-family: 'source_sans_proregular';
}

h1,h2,h3,h4,h5,h6 {
		font-family: 'source_sans_prosemibold';
}

.highlight {
	font-family: 'source_sans_proregular';
}

h1 {
	font-size:30px;
	font-weight:400;
}

h2 {
	font-size:27px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:21px;
}

h5 {
	font-size:18px;
}

h6 {
	font-size:15px;
}
